/* InstructionsPopup.css */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust as needed */
    height: 100%;
    background-color: #29b5e5; /* Light blue color with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other content */
  }
  
  .popup-content {
    width : 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .scrolling-text {
    margin-bottom: 20px;
  }
  
  .scrolling-text marquee {
    width: 100%;
  }
  
  .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  
  .video-container video {
    width: calc(33.33% - 1px); /* Adjust the width of each video */
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: white;
  }
  
  
  
  button:hover {
    background-color: #0056b3;
  }

/* InstructionManual.css */

.instruction-manual {
    width : 100%;
    margin: 0 auto;
    overflow-y: auto; /* Add scrollbar for vertical overflow */
    height: 400px; /* Set a fixed height for the container */
    background-color: rgba(62, 180, 219, 0.5); /* Light blue color with opacity */
}

.instruction-content {
    padding-right: 30px; /* Adjusted padding to move text 10 pixels to the right */
    padding-left: 20px;
}

.instruction-section {
    margin-bottom: 20px;
    font-weight: bold; /* Make the font bold */
}

.instruction-section h2 {
    margin-top: 0;
    font-size: 28px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the font bold */
}

.instruction-section p,
.instruction-section li {
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the font bold */
}

/* Scrollbar styling */
.instruction-manual::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.instruction-manual::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Blue color for the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
}

.instruction-manual::-webkit-scrollbar-thumb:hover {
    background-color: #29b5e5; /* Light blue color for the scrollbar thumb on hover */
}
