
*{
  font-family: 'Poppins',sans-serif;
}
.main-page {
  background-color: #29b5e5;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 20vb;
}
.game-container {
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.divider {
  width: 3px;
  height: 80vh; /* Adjust the height of the divider */
  background-color: #000000; /* Black color for the divider */
  margin: 0 20px;
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width:45vb; 
  height:70vh;
}

.score-label {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.user-gif{
  margin-top: 100px;
  height:28vh;
}

.computer-gif{
  margin-top: 100px;
}
.button-box{
  margin-top: 1.5rem;
}

.buttons-container {
  margin-top: 70px;
  display: flex;
  gap: 10px;
}

.score-space{
  height: 50px;;
}
.game-button {
  width: 130px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
  border: none; 
  background: none; 
  padding: 0; 
}

.button-image {
  width: 100%;
  height: 100%;
}

.output-image{
  width: 320px;
  height: 320px;
}
.computer-side{
  display: flex;
  flex-direction: row;
  width:45vb; 
  height:70vh;
}

.computer-gap{
  width: 20px;
}

.result-box{
  display: flex;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  align-content: center;
  flex-wrap: wrap;

}

.box{
  width: 70vb;
  height: 50vh;
  background-color: #29b5e5;
  border: 1px solid #999;
  border-radius: 20%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: nowrap;
  align-items: center;
  

}



.game-section button {
  background-color: #29b5e5;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 130px;
  width: 130px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}

.game-section button:active {
  background-color: #29b5e5;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.game-section button:hover{
  box-shadow: 1px 1px 10px darkslategray;
  transition: all 0.2s ease;
}

.round-4 {
  border-radius: 30%;
}

.proceed-button {
  background-color: #29b5e5;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 10vh;
  width: 20vb;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
 

}

.proceed-button:active {
  background-color: #29b5e5;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.proceed-button:hover{
  box-shadow: 1px 1px 10px darkslategray;
  transition: all 0.2s ease;
}

.round-4 {
  border-radius: 60px;
}

.you-win-text{
  position: relative;
  font-size: 7vw;
  color: #29b5e5;
  -webkit-text-stroke: 0.3vw #34a1c6;
  
}

.you-win-text::before
{
  content:attr(data-text);
  position: absolute;
  top:0;
  left:0;
  width:0%;
  height:100%;
  color: #143ae0;
  -webkit-text-stroke: 0vw #34a1c6;
  border-right: 2px solid #095dcb;
  overflow: hidden;
  animation: animate 3s linear infinite;
}

@keyframes animate
{
  0%,100%
  {
    width:0%
  }
  70%,90%
  {
    width:100%
  }

}