
*{
  font-family: 'Poppins',sans-serif;
}
.main-page {
  background-color: #29b5e5;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    column-gap: 20vb;
    align-items: center;
}
.backbutton-container{
width: 100%;

padding-left: 30px;
padding-top: 15px;
}

.backButton {
  background-color: #0b789c;
  color: white;
  border: none;
  padding: 5px;
  font-size: 3.1vh;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 4rem;
}

.backButton:active {
  background-color: #29b5e5;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.backButton:hover{
  box-shadow: 1px 1px 10px darkslategray;
  transition: all 0.2s ease;
}

.score-label {
  font-size: 1.5rem;
  margin-bottom: 4vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 2%;
  align-items: center;
}

.label-style{
  
  color: #fff;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey,
    5px 13px 15px black;

    
}
.chance-label
{
  height: 3%;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}
  
  
  .game-container {
  padding: 20px;
  display: flex;
  align-items: center;
}

.divider {
  width: 3px;
  height: 40vh; /* Adjust the height of the divider */
  background-color: #000000; /* Black color for the divider */
  margin: 0 20px;
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width:45vb; 
  height:70vh;
}



.user-gif{
  width: 45vb;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
}

.computer-gif{
  display: flex;
  width: 45vb;
  height: 40vh;
  justify-content: flex-end;
}

.buttons-container {
  display: flex;
  gap: 1vh;
}

.score-space{
  height: 5vh;;
}

.button-image {
  width: 100%;
  height: 100%;
}
.output-image{
  width: 42vb;
  height: 38vh;
}
.computer-side{
  display: flex;
  flex-direction: row;
  width:45vb; 
  height:70vh;
}

.computer-gap{
  width: 2vh;
}





.result-box{
  display: flex;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  align-content: center;
  flex-wrap: wrap;

}

.box{
  min-height: 50vb;
  min-width: 70vb;
  width: auto;
  height: auto;
  background-color: #29b5e5;
  border: 1px solid #999;
  border-radius: 20%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  font-size: 1.5rem;

}



.game-button {
  background-color: #29b5e5;
  color: white;
  border: none;
  padding: 5px;
  font-size: 3.1vh;
  height: 13vh;
  width: 13vb;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}

.game-button:active {
  background-color: #29b5e5;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.game-button:hover{
  box-shadow: 1px 1px 10px darkslategray;
  transition: all 0.2s ease;
}

.round-4 {
  border-radius: 30%;
}

.proceed-button {
  background-color: #29b5e5;
  color: white;
  border: none;
  padding: 5px;
  font-size: 3.1vh;
  height: 10vh;
  width: 20vb;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
 

}

.proceed-button:active {
  background-color: #29b5e5;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.proceed-button:hover{
  box-shadow: 1px 1px 10px darkslategray;
  transition: all 0.2s ease;
}

.round-4 {
  border-radius: 60px;
}


.result-container{
  height:14%;
  display:flex;
  align-items: center;
  ;
}

.result-label{
  top:0;
  left: 0;
  white-space: nowrap;
}



.you-win-text{
  position: relative;
    font-size: 10vh;
    color: #29b5e5;
    -webkit-text-stroke: 0.3vw #34a1c6;
  
  
}


.you-win-text::before
{
  content:attr(data-text);
  position: absolute;
  top:0;
  left:0;
  width:0%;
  height:100%;
  color: #143ae0;
  -webkit-text-stroke: 0vw #34a1c6;
  border-right: 2px solid #095dcb;
 
  overflow: hidden;
  animation: animate 2s linear infinite;
}

@keyframes animate
{
  0%,100%
  {
    width:0%
  }
  40%,70%,90%
  {
    width:100%
  }

}

.table-container {
  max-height:70% ;
  width: 40%;
  overflow-y: auto;
  background-color: #29b5e5; /* Light Blue */
  border-radius: 10px;
  padding: 10px;
}

.table-header {
  display: flex;
  margin-bottom: 10px;
  background-color: #06487e; /* Steel Blue */
  color: #1612da; /* White */
  border-radius: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-cell, .date-column {
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #29b5e5;
}

.date-column {
  flex: 3; /* Adjusted width for the date column */
}

.table-row {
  display: flex;
  margin-bottom: 10px;
}

/* Smooth Scrollbar */
.table-container::-webkit-scrollbar {
  width: 12px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #d3eaf6; /* Light Sky Blue */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #4a90e2; /* Dodger Blue */
  border-radius: 8px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #4169e1; /* Royal Blue */
}


.top-left-button {
  position: inherit;
  background-color: #29b5e5;
  color: #1612da;
  border: none;
  padding: 5px;
  font-size: 2.3vh;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 2rem;
  margin-bottom: 10px;
  top: 0;
  left: 0;;
}

.top-left-button :active {
  background-color: #29b5e5;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.top-left-button :hover{
  box-shadow: 1px 1px 10px darkslategray;
  transition: all 0.2s ease;
}

.history-button-container{
  margin-top: 3vb;
  width: 100%;
  padding-left: 30px;
  padding-top: 15px;
  }

  .view-history {
    width: 20vb;
    background-color: #0b789c;
    color: white;
    border: none;
    padding: 5px;
    font-size: 3.1vh;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 4rem;
  }
  
  .view-history:active {
    background-color: #29b5e5;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  .view-history:hover{
    box-shadow: 1px 1px 10px darkslategray;
    transition: all 0.2s ease;
  }
  